.inner,
.tit {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;


}

p {
    word-break: keep-all;
    line-height: 20px;
    font-size: 16px;
}



.mainlink {
    padding: 100px 0;
}

.mainlink h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 18px 0;

}

.mainlink p {
    line-height: 20px;
}

.mainlink .tit {
    margin: 0 auto 40px auto;
}

/* 반응형 */
.mainlink .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.mainlink .content>* {
    flex: 1 0 350px;
}

/*유튜브 영상, 지도 넣기 */
.responsive_box {
    position: relative;
    background: tomato;
    padding-bottom: 56.25%;
}

.responsive_box>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive_map_box {
    position: relative;
    background: tomato;
    padding-bottom: 56.25%;
}

.responsive_map_box .root_daum_roughmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive_map_box .root_daum_roughmap .wrap_map {
    height: calc(100% - 1px);
}